@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
div.body1{
    background-image: linear-gradient(to right, rgb(60,10,168), rgb(114,15,168));
    background-repeat: repeat-y;

}
div.navbar a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
div.navbar{
    position: relative;
    padding: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div.navlogo{
    display: inline-block;
}
#logo{
    width: 35px;
    margin-left: 15px;
}
div.navcont{
    display: inline-block;
    position: absolute;
    right: 47%;
    top: 50%;
    translate: 0 -50%;
}
div.navcont > a{
    padding: 10px;
}
#svg{
    width: 20px;
}
div.getbrave{
    display: inline-block;
    position: absolute;
    right: 18%;
    top: 50%;
    translate: 0 -50%;
}
#getb{
    background-color: white;
    padding: 10px 15px;
    border-radius: 20px;
    color: rgb(60, 11, 169);
    font-weight: lighter;
}
div.trybrave{
    display: inline-block;
    position: absolute;
    right: 5%;
    top: 50%;
    translate: 0 -50%;
}
#tryb{
    /* background-color: rgb(60, 11, 169); */
    color: white;
    border-radius: 20px;
    font-weight: lighter;
    border: 2px solid white;
    padding: 10px 15px;
    
}
div h1{
    font-size: 4.4rem;
    text-align: center;
    position: relative;
    top: 12vw;
    color: white;
}
div h3{
    text-align: center;
    position: relative;
    top: 13vw;
    font-size: 1.7rem;
    color: white;
}
div.para1 p{
    text-align: center;
    font-size: 1.3rem;
    position: relative;
    top: 15vw;
    font-style: italic;
    color: white;
}
div.button a{
    text-decoration: none;
    font-size: 1.5rem;
    background-image: linear-gradient(to right, rgb(138,17,198), rgb(216,55,105));
    color: white;
    padding: 18px 11%;
    position: relative;
    top: 20vw;
    left: 34.5%;
    border-radius: 30px;
}
div.bigimg{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#bigimg1{
    width: 90%;
    margin-top: 27%;
}
#img2{
    margin-top: -20%;
}
div.flex1{
    /* background-color: white; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
div.flex2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 7%;
} 
/* .rightcontent2{
    margin-top: 10px;

} */

.leftcontent{
    margin-left: 70px;
}
.leftcontent h2{
    font-size: 2.5rem;
    margin-top: 70px;
}
.leftcontent p{
    margin-top: 20px;
    font-size: 1.2rem;
}

.leftcontent2{
    margin-left: 100px;
}
.rightcontent2 > h2{
    font-size: 2.5rem;
    margin-top: 70px;
}
.rightcontent2 p{
    margin-top: 20px;
    font-size: 1.2rem;
}
.rightcontent2{
    margin-right: 100px;
} 
.iframe{
    width: 550px;
    height: 280px;
}
.flex3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 7%;
}
.leftcontent3{
    margin-top: 70px;
    margin-left: 60px;
}
.leftcontent3 h2{
    font-size: 2.5rem;
}
.leftcontent3 p{
    font-size: 1.2rem;
    margin-top: 20px;
}
.rightcontent3{
    margin-right: 100px;
} 
div.flex4{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 7%;
} 
.leftcontent4{
    margin-top: 70px;
    margin-left: 60px;
}
.rightcontent4 h2{
    font-size: 2.5rem;
}
.rightcontent4 p{
    font-size: 1.2rem;
    margin-top: 20px;
}
.rightcontent4{
    margin-right: 100px;
}
div.flex5{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 7%;
}
.leftcontent5{
    margin-top: 70px;
    margin-left: 60px;
}
.leftcontent5 h2{
    font-size: 2.5rem;
}
.leftcontent5 p{
    font-size: 1.2rem;
    margin-top: 20px;
}
.rightcontent5{
    margin-right: 100px;
}
.heading2{
    color: rgb(53,60,170);
    margin-left: 90px;
    margin-bottom: 20px;
    margin-top: 100px;
    font-size: 40px;
}
div.bravevsothers{
    display: flex;
    flex-direction: row;
    margin-left: 90px;
    margin-top: 20px;
    
}
div.strong{
    display: flex;
    flex-direction: row;
}
div.noprotection{
    display: flex;
    flex-direction: row;
}
div.Limited{
    display: flex;
    flex-direction: row;
}
.strong{
    background-color: rgb(19,162,120);
    border-radius: 17.5px;
    width: 35px;
    height: 35px;
    margin-top: 20px;
}
.fa-check{
    color: white;
    text-align: center;
    margin-top: 5px;
    margin-left: 6px;
    font-size: 25px;
}
.sp{
    margin-left: 10px;
    margin-top: 27px;
    font-size: 18px;
    font-weight: 600;
}
.noprotection{
    background-color: rgb(235,58,12);
    border-radius: 17.5px;
    width: 35px;
    height: 35px;
    margin-top: 20px;
    margin-left: 30px;
}
.fa-xmark{
    color: white;
    text-align: center;
    margin-top: 5px;
    margin-left: 8px;
    font-size: 25px;
}
.Limited{
    background-color: rgb(244,197,25);
    border-radius: 17.5px;
    width: 35px;
    height: 35px;
    margin-top: 20px;
    margin-left: 30px;
}
.fa-regular{
    color: white;
    text-align: center;
    margin-top: -4px;
    margin-left: 5px;
    font-size: 25px;
}
.bravevsothertab{
    margin-top: 100px;
}
h6{
    color: rgb(135,143,150);
    font-size: 20px;
    margin-right: 250px;
    align-self: center;
}
.builtinfeatures{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.builtinfeatures div{
    margin-right: 45px;
}
.builtinfeatures p{
    font-weight: 600;
    font-size: 20px;
}