@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right, rgb(60,10,168), rgb(114,15,168));
    background-repeat: repeat-y; 

}
div.navbar a{
    text-decoration: none;
    color: white;
}
div.navbar{
    /* background-image: linear-gradient(to right, rgb(60,10,168) 50%, rgb(114,15,168)); */
    position: relative;
}
div.navlogo{
    display: inline-block;
}
div.navcont{
    display: inline-block;
    position: absolute;
    right: 50%;
    top: 50%;
    translate: 0 -50%;
}
div.navcont > a{
    padding: 10px;
}
#svg{
    width: 20px;
}
div.getbrave{
    display: inline-block;
    position: absolute;
    right: 18%;
    top: 50%;
    translate: 0 -50%;
}
#getb{
    background-color: white;
    padding: 10px 15px;
    border-radius: 20px;
    color: rgb(60, 11, 169);
    font-weight: bold;
}
div.trybrave{
    display: inline-block;
    position: absolute;
    right: 5%;
    top: 50%;
    translate: 0 -50%;
}
#tryb{
    background-color: rgb(60, 11, 169);
    color: white;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid white;
    padding: 10px 15px;
    
}
div h1{
    font-size: 4.4rem;
    text-align: center;
    position: relative;
    top: 12vw;
    color: white;
}
div h3{
    text-align: center;
    position: relative;
    top: 13vw;
    font-size: 1.7rem;
    color: white;
}
div.para1 p{
    text-align: center;
    font-size: 1.3rem;
    position: relative;
    top: 15vw;
    font-style: italic;
    color: white;
}
div.button a{
    text-decoration: none;
    font-size: 1.5rem;
    background-image: linear-gradient(to right, rgb(138,17,198), rgb(216,55,105));
    color: white;
    padding: 18px 11%;
    position: relative;
    top: 20vw;
    left: 34.5%;
    border-radius: 30px;
}